#background
{
    background-color:#5e568f;
}

#Heading1
{
    background-color: #988ed1;
    font-weight: bolder;
}

#second_tag
{
    color: #5e568f;
    font-weight: 800;
}

#start
{
    background-color: #9e99ba;
    font-size: 20px;
    color:#160d4a;
    font-weight: bold;
}